**Write a Python Program to Swap Two Elements in a List (5 Marks)**
```python
Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90]
Input : List = [1, 2, 3, 4, 5], pos1 = 2, pos2 = 5
Output : [1, 5, 3, 4, 2]
```

In [2]:
def swap(lst, pos1, pos2):
    if pos1 < 1 or pos2 < 1 or pos1 > len(lst) or pos2 > len(lst):
        print("Invalid")
        return

    pos1 -= 1
    pos2 -= 1
    lst[pos1], lst[pos2] = lst[pos2], lst[pos1]

    print("Output:", lst)

list1 = [23, 65, 19, 90]
position1 = 1
position2 = 3
print("Input :", list1, "pos1 =", position1, "pos2 =", position2)
swap(list1, position1, position2)

list2 = [1, 2, 3, 4, 5]
position3 = 2
position4 = 5
print("Input :", list2, "pos1 =", position3, "pos2 =", position4)
swap(list2, position3, position4)

Input : [23, 65, 19, 90] pos1 = 1 pos2 = 3
Output: [19, 65, 23, 90]
Input : [1, 2, 3, 4, 5] pos1 = 2 pos2 = 5
Output: [1, 5, 3, 4, 2]